<!doctype html>
<html>
  <head>
    <%= partial "layouts/meta_tags" %>
    <%# <%= GoogleFonts.get_fonts({one: {name: "Roboto", weights: {normal: ["400"]}}}) %1> %>
    <title><%= page_title(current_page.data.title) %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
