<%# source/layouts/layout.erb %>
<!doctype html>
<html>
  <head>
    <%= partial "layouts/meta_tags" %>
    <%# <%= google_fonts('Work+Sans') %1> %>
    <title><%= page_title(current_page.data.title) %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
